body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: black;
	margin: 0;
	font-family: rubik;
}

.container {
	margin: 0 auto;
	padding: 50px 150px 0 150px;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	max-width: 250px;
	width: fit-content;
	list-style: none;
	padding: 0 40px 0 40px;
	color: #222;
	text-align: center;
	border-radius: 10px;
	position: relative;
}
.card:hover{
	opacity: .6;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: rgb(80, 80, 80);
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}
.dark{
	background-color: #707070;
	color: wheat;
}
.ghost{
    background-color: #7B62A3;

}
.steel {
	background-color: #9EB7B8;
}

.fire {
	background-color: #FD7D24;
}

.grass {
	background-color: #9BCC50;
}

.electric {
	background-color: #EED535;
}

.water{
	background-color: #4592C4;
}
.ice{
	background-color: #51C4E7;
}
.ground {
	background: #ffffff;
	background: linear-gradient(to right, #F7DE3F, #AB9842);
}

.rock {
	background-color: #A38C21;
}

.fairy {
	background-color: #FDB9E9;
}

.poison {
	background-color: #B97FC9;
}

.bug {
	background-color: #729F3F;
}

.dragon {
	background-color: #ffffff;
	background: linear-gradient(to right, #53A4CF, #F16E57);

}

.psychic {
	background-color: #F366B9;
}

.flying {
	background-color: #e7afaf;
	background: linear-gradient(to right, #3DC7EF, #BDB9B8);

}

.fighting {
	background-color: #D56723;
}

.normal {
	background-color: #A4ACAF;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 19px;
	font-weight: bolder;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 2px;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	width: 100%;
	position: relative;
	z-index: 2;
}
.iconT{
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
.Geracoes{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.btnG{
	margin-left: 10px;
}
.btnM{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.iconDex{
	width: 50px;
}

.mult{
	width: 250px;
	margin-left: 50px;
}
.inputS{
	margin-left: 10px;
	margin-top: 15px;
}
#aviso{
	font-size: small;
}
@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

@media(max-width:999px){
	
	.container {
		margin: 0 auto;
		margin-top: 150px;
		padding: 50px 100px 0 100px;
	}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding-inline-start: 0;
}
.card {
	width: 500px;
	width: fit-content;
	list-style: none;
	padding: 0 70px 0 70px;
	color: #222;
	text-align: center;
	border-radius: 10px;
	position: relative;
}
.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: rgb(80, 80, 80);
  opacity: .7;
  position: absolute;
  top: 10%;
  left: 25%;
}
.card-image {
	height: 250px;
	width: 250px;
	position: relative;
	z-index: 2;
}
.iconT{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 35px;
	font-weight: bolder;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 2px;
	font-size: 25px;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}
}